.video-card {
  background: #fff;
  cursor: pointer;
}

.thumbnail img,
iframe {
  width: 100%;
  height: 180px;
  border-radius: 12px;
}

.info {
  padding: 10px 0;
}

.info h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 6px;
}

.channel,
.meta {
  font-size: 13px;
  color: #606060;
}